.kasse-header {
  font-size: 35px;
  color: white;
  font-weight: 300;
  margin: 0;
}

.kassen-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.kassen-grid .form-headers {
  color: white;
  font-size: 20px;
}

.kassen-grid input[type=text] {
  width: 100%;
  margin-top: 10px;
  background-color: #0A1D1C;
  border: 1px solid #1F5E5B;
  border-radius: 3px;
  color: #00F9B6;
  padding: 15px;
  font-size: 16px;
}

.kassen-grid input[type=text]::-webkit-input-placeholder {
  color: #00F9B6;
}

.kassen-grid input[type=text]:-ms-input-placeholder {
  color: #00F9B6;
}

.kassen-grid input[type=text]::-ms-input-placeholder {
  color: #00F9B6;
}

.kassen-grid input[type=text]::placeholder {
  color: #00F9B6;
}

.kassen-grid input[type=submit] {
  border: 1px solid #1F5E5B;
  background-color: #00F9B6;
  color: #131313;
  width: 100%;
  margin-top: 10px;
  height: 48px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.kassen-grid .kassen-half-half-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.kassen-grid #tlfnr-spoiler {
  background-color: #113B39;
  border: 1px solid #1F5E5B;
  border-radius: 15px;
  position: relative;
  bottom: 10px;
  z-index: -1;
}

.kassen-grid #tlfnr-spoiler p {
  color: #00BB89;
  margin: 25px;
}

.kassen-grid #betalingsmetode-wrapper {
  width: 100%;
  height: 48px;
  background-color: #0A1D1C;
  border: 1px solid #1F5E5B;
  border-radius: 3px;
  color: #00F9B6;
  margin-top: 26px;
}

.kassen-grid #betalingsmetode-wrapper input {
  margin: 15px;
  display: inline;
}

.kassen-grid #betalingsmetode-wrapper p {
  display: inline;
}

.kassen-grid #betalingsmetode-kort-wrapper {
  width: 100%;
  background-color: #0A1D1C;
  border: 1px solid #1F5E5B;
  border-radius: 3px;
  color: #00F9B6;
  margin-top: 26px;
}

.kassen-grid #betalingsmetode-kort-wrapper #betaling-kort {
  margin: 15px;
  display: inline;
  cursor: not-allowed;
}

.kassen-grid #betalingsmetode-kort-wrapper p {
  display: inline;
}

.kassen-grid #betalingsmetode-kort-wrapper .payment-cards {
  color: white;
  float: right;
  position: relative;
  right: 5px;
  top: 5px;
}

.kassen-grid #betalingsmetode-kort-wrapper .payment-cards i {
  margin-left: 15px;
  font-size: 45px;
}

#betalingsmetode-kort-wrapper {
  cursor: not-allowed;
}

#betalingsmetode-kort-wrapper input[type=text] {
  border: 1px solid #1F5E5B;
  border-radius: 5px;
  background-color: #131313;
  color: #00F9B6;
  cursor: not-allowed;
}

#kasse-kortnummer, #kasse-kontrolciffer, #kasse-kortindehaver {
  width: 80%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#kasse-kortindehaver {
  margin-bottom: 15px;
}

#betalingsmetode-dato-wrapper {
  text-align: center;
}

#kasse-maened, #kasse-aar {
  width: 39.7%;
}

.red-input {
  color: red !important;
}

#tak-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 25px;
}

#tak-grid #adresse-container {
  color: white;
}

#tak-grid #adresse-container h2 {
  margin: 0;
  font-size: 25px;
}

#tak-grid #adresse-container p {
  font-size: 20px;
  margin: 0;
}

#tak-grid #order-tak-knap {
  background-color: #00F9B6;
  color: #131313;
  border-radius: 3px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  height: 50px;
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
}

#tak-grid #order-container {
  border: 1px solid #1F5E5B;
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

#tak-grid #order-container .product-ordernr {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #1F5E5B;
  border-bottom: 1px solid #1F5E5B;
}

.order-product-item {
  border: 1px solid #1F5E5B;
  border-radius: 3px;
  margin: 20px;
  text-align: center;
}

.samlet-pris-tekst {
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #1F5E5B;
  border-bottom: 1px solid #1F5E5B;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hovsa-tekst {
  font-size: 25px;
}

.moms-pris-tekst {
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 6px;
}

.color-highlight {
  color: #00F9B6;
}

#anden-levering-wrapper {
  display: none;
}

#anden-levering-knap {
  width: 35px;
  height: 35px;
  background-color: #0A1D1C;
  border: 1px solid #1F5E5B;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #00F9B6;
  font-size: 16px;
}

#anden-levering-tekst {
  display: inline;
  color: #00F9B6;
  font-size: 20px;
  position: relative;
  bottom: 10px;
  left: 8px;
}

@media only screen and (max-width: 1300px) {
  .kassen-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #tak-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #betalingsmetode-kort-wrapper .payment-cards {
    color: white;
    float: left;
  }
}
/*# sourceMappingURL=kasse.css.map */